<div class="day_pack-container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-xl-5 bg-dark text-light">

      <%= @day_pack.title %>
      <h3>Tasks for today: </h3>

      <% @tasks.each do |task| %>
        <%= task.name %>
        <p id="count"><%= task.duration %></p>
        <span id="timer"></span>
        <span id="countTimers"></span>
        <button id="pause">Start</button>
      <% end %>
      <div id="test">test</div>

      <%# <h3>Add tasks</h3> %>
      <%#= simple_form_for [ @day_pack, new_day_pack_task_path(@day_pack) ] do |f| %>
        <%#= f.input :name %>
        <%#= f.input :duration %>
        <%#= f.submit "Add task for this day pack" %>
      <%# end %>
    </div>
  </div>
</div>

